/build/
/config.mk
include/dlg/
src/dlg/dlg.c
subprojects/*
!subprojects/*.wrap
/tests/data/*

VCToOtherDir/objs/Win32/Release/freetype.tlog/

*.log

*.tlog

VCToOtherDir/.vs/freetype/v16/.suo

VCToOtherDir/.vs/freetype/v16/Preview/Browse.VC.db
